*.o
*.d
*.dylib
*.dSYM
*.m
*.a
*.so
*.swp
autom4te.cache
autotest_include.h
benchmark
benchmark_include.h
configure
config.h
config.h.in
config.log
config.status
makefile
todolist.txt
todolist.html
xautotest

